.form input {
  margin: 20px;
  padding: 10px, 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 4px solid rgb(204, 197, 197)
}
.container {
  text-align: center;
}
.form {
  display: inline;
}
.form p {
  display: inline;
}
.form captcha {
text-align: center;
}
